# Ignora dependências e arquivos de build
node_modules/
.next/
dist/

# Ignora arquivos de sistema e temporários
.env
*.log
.DS_Store

# Ignora arquivos grandes e binários
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.zip
*.exe
*.dll
*.node
