.container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #0b2044;
  }
  
  .formSection {
    width: 45%;
    background: linear-gradient(180deg, #5c7ba4, #384b68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 40px;
  }
  
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .logoContainer h1 {
    font-size: 24px;
    color: #000;
    margin-top: 10px;
  }
  
.form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
    font-size: 14px;
  }
  
  input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
  }
  
  .btnLogin {
    background-color: #2b339b;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s ease;
  }
  
  .btnLogin:hover {
    background-color: #111979;
  }
  
  .link {
    display: block;
    margin-top: 10px;
    text-align: left;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .imageSection {
    width: 55%;
    background-image: url("/tech-login.png");
    background-size: cover;
    background-position: center;
  }
  