.backButton {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
  
  .backButton:hover {
    opacity: 0.7;
  }
  